/* COLORS */
/* IMAGES */
.photo-1 { background-image: url("../images/image6.jpg"); }

.photo-2 { background-image: url("../images/image1.png"); }

.photo-3 { background-image: url("../images/image2.png"); }

.photo-4 { background-image: url("../images/image3.png"); }

.photo-5 { background-image: url("../images/image4.png"); }

.photo-6 { background-image: url("../images/image5.png"); }

.face-1 { background-image: url("../images/img-team-1.png"); }

.face-2 { background-image: url("../images/img-team-2.png"); }

.face-3 { background-image: url("../images/img-team-3.png"); }

/* GLOBAL STYLES */
* { margin: 0; padding: 0; font-family: "Montserrat", sans-serif; box-sizing: border-box; color: #373737; outline: none; }

h1 { font-size: 30px; line-height: 30px; color: #000; text-transform: uppercase; font-weight: 700; }

h5 { font-size: 14px; line-height: 30px; color: #aeaeae; text-transform: uppercase; }

.btn { width: 180px; height: 45px; background: #b88b58; border-style: none; border-radius: 25px; }

.btn:hover { background: -webkit-linear-gradient(left, #fff, #b88b58); }

.btn:hover * { font-size: 18px; transition: 0.3s; }

.btn:active { background: #000; }

.btn a { font-size: 14px; text-transform: uppercase; font-weight: 700; line-height: 35px; color: #fff; text-decoration: none; }

/* MENU */
.menu { background-color: #000; color: #fff; }

.menu .nav { width: 960px; margin: 0 auto; height: 100px; }

.menu .nav .logo { float: left; margin: 25px 150px 25px 0; height: 50px; width: 50px; display: inline-block; line-height: 100px; background-image: url("../images/logo.PNG"); background-size: cover; }

.menu .nav ul { margin: 0; padding: 0; height: 100px; display: inline-block; }

.menu .nav ul li { display: inline-block; float: left; padding: 5px 10px; height: 100px; }

.menu .nav ul li a { text-decoration: none; font-family: "Gotham Rounded"; text-align: center; text-transform: uppercase; font-weight: 700; color: #fff; height: 100px; line-height: 100px; }

.menu .nav ul li a:hover { cursor: pointer; border-bottom: 5px solid #b88b58; }

/* MAIN */
.main { width: 100%; height: 740px; padding: 0; }

.main #carousel-example-generic2 { height: 740px; }

.main #carousel-example-generic2 .carousel-inner { height: 740px; }

.main #carousel-example-generic2 .carousel-indicators { bottom: 50px; }

.main * { color: #fff; }

.main .hero { position: relative; top: -540px; width: 90%; height: 500px; margin: 40px auto; }

.main .hero * { margin: 15px auto; }

.main .hero h1 { text-transform: uppercase; font-weight: 700; font-size: 72px; line-height: 69px; }

.main .hero h1 span { color: #b88b58; }

.main .hero h3 { font-size: 24px; font-weight: 400; line-height: 18px; text-transform: uppercase; }

/* ABOUT */
.about { min-height: 500px; padding: 70px 0 20px; }

.about .row { padding: 40px 0; }

.about .row .col { text-align: left; }

.about .row .col iframe { width: 100%; height: 270px; box-shadow: 0 13px 24px rgba(0, 0, 1, 0.42); }

.about .row .col p { line-height: 25px; }

.about .row .btn { width: 192px; margin: 30px 0; border-radius: 5px; }

/* SERVICES */
.services { min-height: 400px; background: #000; padding: 40px 0; }

.services h1 { color: #fff; }

.services h5 { color: #aeaeae; }

.services h3 { color: #fff; text-transform: uppercase; font-size: 18px; }

.services p { font-size: 12px; }

.services .ico { width: 60px; height: 60px; margin: 0 auto; background-size: cover; }

.services .ico:hover { animation: rubberBand 1s; cursor: pointer; }

.services .star { background-image: url("../images/star.png"); }

.services .support { background-image: url("../images/support.png"); }

.services .clock { background-image: url("../images/clock.png"); }

.services .quality { background-image: url("../images/quality.png"); }

.services .row { margin: 40px 0; border-left: 2px solid #bebebe; }

.services .row .col { border-right: 2px solid #bebebe; padding: 20px; height: 180px; }

/* PROJECTS */
.projects { padding: 60px 0; }

.projects .nav-tabs { margin: 50px auto 35px; width: 570px; border: 2px solid #999; border-radius: 20px; overflow: hidden; background-color: #ccc; text-transform: uppercase; padding: 0; }

.projects .nav-tabs * { color: #000; font-size: 14px; font-family: "Gotham Rounded"; }

.projects .nav-tabs li a { border-left: 2px solid #999; }

.projects .nav-tabs li a:hover { border-bottom: 5px solid #888; box-sizing: border-box; }

.projects .nav-tabs .active a { background: #ccc; border: none; border-bottom: 5px solid #b88b58; }

.projects .btn { margin-top: 20px; }

.projects .col { padding: 12px; position: relative; overflow: hidden; height: 165px; margin-bottom: 15px; }

.projects .col .photo { height: 165px; z-index: 3; background-size: cover; background-position: center; width: 100%; }

.projects .col .layer { height: 165px; z-index: 2; width: calc(100% - 25px); position: absolute; top: 165px; }

.projects .col .layer .photo-ico { cursor: pointer; width: 70%; font-size: 12px; margin: 35px auto; text-align: center; visibility: hidden; }

.projects .col .layer .photo-ico h5 { font-size: 18px; padding: 0 0 0 5px; color: #fff; }

.projects .col .layer .photo-ico p { color: #fff; }

.projects .col:hover .layer { top: 12px; background: rgba(0, 0, 0, 0.8); transition: top 0.5s ease-in; }

.projects .col:hover .photo-ico { visibility: visible; color: #b88b58; transition: 0.4s ease-in 0.5s; }

/* TEAM */
.team .carousel img { height: 700px; }

.team .carousel-inner .carousel-caption { left: 0; width: 100%; }

.team h1, .team h5 { color: #fff; }

.team .row { margin: 25px 0; }

.team .row .col { background-color: #fff; margin: 1%; width: 31%; padding: 0 60px; }

.team .row .col h3 { font-size: 21px; }

.team .row .col p { font-size: 14px; }

.team .row .col-fa { width: 33px; margin: 20px 2px; padding: 0; display: block; float: left; }

.team .row .fa { background-color: #ccc; border-radius: 50%; width: 33px; height: 33px; font-size: 16px; line-height: 30px; cursor: pointer; color: #fff; }

.team .row .fa:hover { color: #fff; transform: scale(1.2); transition: transform 0.5s 0s; background: #b88b58; }

.team .face { width: 13vw; max-width: 175px; height: 13vw; max-height: 175px; margin: 40px auto; background-size: cover; }
/*# sourceMappingURL=style.css.map */