/* IMAGES */

.photo-1 {
	background-image: url("../images/image6.jpg");
}

.photo-2 {
	background-image: url("../images/image1.png");
}

.photo-3 {
	background-image: url("../images/image2.png");
}

.photo-4 {
	background-image: url("../images/image3.png");
}

.photo-5 {
	background-image: url("../images/image4.png");
}

.photo-6 {
	background-image: url("../images/image5.png");
}

.face-1 {
	background-image: url("../images/img-team-1.png");
}

.face-2 {
	background-image: url("../images/img-team-2.png");
}

.face-3 {
	background-image: url("../images/img-team-3.png");
}