$fonts-main: 'Montserrat', sans-serif;

/* COLORS */
$color-background: #f5f6f7;
$color-main: #b88b58;
$color-light-gray: #aeaeae; 
$color-gray: #7e7e7e; 
$color-dark-gray: #373737; 
$color-twitter: #66CCFF;
$color-facebook: #3366FF;
$color-google: #FF3333;
$color-linkedin: #127cb4;
$color-pinterest: #b71c29;
$color-flickr: #3b5998;
$color-dribbble: #cb2028;

/* IMAGES */

.photo-1 {
	background-image: url("../images/image6.jpg");
}

.photo-2 {
	background-image: url("../images/image1.png");
}

.photo-3 {
	background-image: url("../images/image2.png");
}

.photo-4 {
	background-image: url("../images/image3.png");
}

.photo-5 {
	background-image: url("../images/image4.png");
}

.photo-6 {
	background-image: url("../images/image5.png");
}

.face-1 {
	background-image: url("../images/img-team-1.png");
}

.face-2 {
	background-image: url("../images/img-team-2.png");
}

.face-3 {
	background-image: url("../images/img-team-3.png");
}

/* GLOBAL STYLES */
* {
	margin: 0;
	padding: 0;
	font-family: $fonts-main;
	box-sizing: border-box;
	color: $color-dark-gray;
	outline: none;
}

h1 {
	font-size: 30px;
	line-height: 30px;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
}

h5 {
	font-size: 14px;
	line-height: 30px;
	color: $color-light-gray;
	text-transform: uppercase;
}

.btn {
	width: 180px;
	height: 45px;
	background: $color-main;
	border-style: none;
	border-radius: 25px;
	&:hover {
		background: -webkit-linear-gradient(left,#fff, $color-main);
		* {
		font-size: 18px;
		transition: 0.3s;
		}
	}
	&:active {
		background: #000;
	}	
	a {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 35px;
		color: #fff;
		text-decoration: none;
	}
}

/* MENU */
.menu {
	background-color: #000;
	color: #fff;
	.nav {
		width: 960px;
		margin: 0 auto;
		height: 100px;
		.logo {
			float: left;
			margin: 25px 150px 25px 0;
			height: 50px;
			width: 50px;
			display: inline-block;
			line-height: 100px;
			background-image: url('../images/logo.PNG');
			background-size: cover;
		}
		ul {
			margin: 0;
			padding: 0;
			height: 100px;
			display: inline-block;
			li {
				display: inline-block;
				float: left;
				padding: 5px 10px;
				height: 100px;
				a {			
					text-decoration: none;
					font-family: "Gotham Rounded";
					text-align: center;
					text-transform: uppercase;
					font-weight: 700;
					color: #fff;
					height: 100px;
					line-height: 100px;
					&:hover {
						cursor: pointer;
						border-bottom: 5px solid $color-main;
					}
				}	
			}
		}
	}
}

/* MAIN */

.main {
	width: 100%;
	height: 740px;	
	padding: 0;
	#carousel-example-generic2 {
		height: 740px;
		.carousel-inner {
			height: 740px;
		}
		.carousel-indicators {
			bottom: 50px;
		}
	}
	* {
		color: #fff;
	}
	
	
	.hero {
		position: relative;
		top: -540px;
		width: 90%;
		height: 500px;
		margin: 40px auto;
		* {
			margin: 15px auto;
		}
		h1 {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 72px;
			line-height: 69px;
			span {
				color: $color-main;
			}
		}
		h3 {
			font-size: 24px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;
		}
	}
}

/* ABOUT */

.about {
	min-height: 500px;
	padding: 70px 0 20px;
	.row {
	padding: 40px 0;
		.col {
			text-align: left;
			iframe {
				width: 100%;
				height: 270px;
				box-shadow: 0 13px 24px rgba(0, 0, 1, 0.42);
			}
			p {
				line-height: 25px;
			}
		}
		.btn {
			width: 192px;
			margin: 30px 0;
			border-radius: 5px;
		}
	}
}

/* SERVICES */

.services {
	min-height: 400px;
	background: #000;
	padding: 40px 0;
	h1 {
		color: #fff;
	}
	h5 {
		color: $color-light-gray;
	}
	h3 {
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
	}
	p {
		font-size: 12px;
	}
	.ico {
		width: 60px;
		height: 60px;
		margin: 0 auto;
		background-size: cover;
		&:hover {
			animation: rubberBand 1s;
			cursor: pointer;
		}
	}
	.star {
		background-image: url('../images/star.png');
	}
	.support {
		background-image: url('../images/support.png');
	}
	.clock {
		background-image: url('../images/clock.png');
	}
	.quality {
		background-image: url('../images/quality.png');
	}
	.row {
		margin: 40px 0;
		border-left: 2px solid #bebebe;
		.col {
			border-right: 2px solid #bebebe;
			padding: 20px;
			height: 180px;
		}
	}
}

/* PROJECTS */

.projects {
	padding: 60px 0;
	.nav-tabs {
		margin: 50px auto 35px;
		width: 570px;
		border: 2px solid #999;
		border-radius: 20px;
		overflow: hidden;
		background-color: #ccc;
		text-transform: uppercase;
		padding: 0;
		* {
			color: #000;
			font-size: 14px;
			font-family: "Gotham Rounded";
		}
		li a {
			border-left: 2px solid #999;
			&:hover {
				border-bottom: 5px solid #888;
				box-sizing: border-box;
			}
		}
		.active a {
			background: #ccc;
			border: none;
			border-bottom: 5px solid $color-main;
		}
	}
	.btn {
		margin-top: 20px;
	}
	.col {
		padding: 12px;
		position: relative;
		overflow: hidden;
		height: 165px;
		margin-bottom: 15px;
		.photo { 
			height: 165px;
			z-index: 3;
			background-size: cover;
			background-position: center;
			width: 100%;
		}
		.layer {
			height: 165px;
			z-index: 2;
			width: calc(100% - 25px);
			position: absolute;
			top: 165px;
			.photo-ico {
				cursor: pointer;
				width: 70%;
				font-size: 12px;
				margin: 35px auto;
				text-align: center;
				visibility: hidden;
				h5 {
					font-size: 18px;
					padding: 0 0 0 5px;
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
		}
		&:hover {
			.layer {
				top: 12px;
				background: rgba(0,0,0,0.8);
				transition: top 0.5s ease-in;
			}
			.photo-ico {
				visibility: visible;
				color: $color-main;
				transition:  0.4s ease-in 0.5s;
			}
		}
	}
}

/* TEAM */

.team {
	.carousel img { 
		height: 700px;
	}
	.carousel-inner {
		.carousel-caption {
			left: 0;
			width: 100%;
		}
	}
	h1, h5 {
		color: #fff;
	}
	.row {
		margin: 25px 0;
		.col {
			background-color: #fff;
			margin: 1%;
			width: 31%;	
			padding: 0 60px;
			h3 {
				font-size: 21px;
			}
			p {
				font-size: 14px;
			}
		}
		
		.col-fa {
			width: 33px;
			margin: 20px 2px;
			padding: 0;
			display: block;
			float: left;
		}
		
		.fa {
			background-color: #ccc;
			border-radius: 50%;
			width: 33px;
			height: 33px;
			font-size: 16px;
			line-height: 30px;
			cursor: pointer;
			color: #fff;
			&:hover {
				color: #fff;
				transform: scale(1.2);
				transition: transform 0.5s 0s;
				background: $color-main;
			}
		}
	}
	.face {
		width: 13vw;
		max-width: 175px;
		height: 13vw;
		max-height: 175px;
		margin: 40px auto;
		background-size: cover;
	}
}

/* CLIENTS */
.clients {
	background: $color-background;
	height: 700px;
	.carousel-caption {
		padding: 0 110px;
	}
	.face {
		width: 10vw;
		max-width: 135px;
		height: 10vw;
		max-height: 135px;
		margin: 90px auto 20px;
		background-size: cover;
	}
	.carousel img { 
		height: 700px;
	}
	h3 {
		font-size: 24px;
		color: #000;
		font-weight: 700;
	}
	h6 {
		color: #000;
		margin-bottom: 50px;
		font-size: 18px;
	}
	p {
		margin-bottom: 110px;
		color: $color-gray;
		font-size: 14px;
		font-weight: 300;
	}
}
.logo {
	.col {
		height: 150px;
		padding: 50px 0 50px 40px;
	}
}

/* PRICES */
.prices {
	padding: 40px 0;
	background: url('../images/bg.png');
	background-size: cover;
	.col {
		background: #fff;
		margin: 20px 1%;
		padding-top: 20px;
		width: 23%;
		cursor: help;
		h1 {
			line-height: 10px;
		}
	}
	p {
		line-height: 10px;
		margin: 5px;
		font-family: "Gotham Rounded";
	}
	h2 {
		font-size: 14px;
		text-transform: uppercase;
		color: #000;	
	}
	h6 {
		font-size: 10px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	.btn {
		margin: 20px 0 40px;
		width: 15vw;
		max-width: 180px;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 33px;
		&:hover {
			font-size: 18px;
			transition: 0.3s;
		}
	}
}

/* PRODUCTS */
.products {
	height: 720px;
	text-shadow: none;
	.carousel-indicators {
		bottom: 90px;
	}
	.carousel-caption {
		text-shadow: 0 0 0 rgba(0, 0, 0, 1);
		width: 100%;
		left: 0;
		height: 680px;
	}
	.carousel img { 
		height: 720px;
	}
	.row {
		margin-top: 25px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		.boxes {
			background: url('../images/img.png');
			background-repeat: no-repeat;
			height: 380px;
			margin-top: 25px;
		}
		.col {
			text-align: left;
			padding: 10px;
			h3 {
				text-transform: uppercase;
				font-size: 21px;
				color: #242424;
				font-weight: 700;
				margin-top: 35px;
			}
			p {
				color: #5b5b5b;
				font-size: 14px;
				font-weight: 300;
			}
		}
	}
	.btn {
		margin-top: 60px;
		width: 192px;
		border-radius: 5px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 35px;
		color: #fff;
		&:hover {
			font-size: 18px;
			transition: 0.3s;
		}
	}
}
/* FACTS */
.facts {
	min-height: 400px;
	background: #000;
	padding: 40px 0;
	h1 {
		color: #fff;
	}
	h5 {
		color: $color-light-gray;
	}
	h3 {
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
	}
	p {
		font-size: 12px;
	}
	.row {
		margin-top: 15px;
		.col {
			padding: 0 20px;
			h1 {
				color: $color-main;
				font-size: 48px;
			}
			hr {
				width: 18px;
				height: 2px;
				margin: 0 auto;
				color: $color-gray;
				border-color: $color-gray;
				background-color: $color-gray;
				margin-top: 20px;
				margin-bottom: -10px;
			}
			.row:first-child {
				height: 115px;
			}
			.row:nth-child(2) {
				height: 50px;
			}
		}
	}
}

/* SHARE */
.share {
	box-shadow: 2px 2px 2px #ccc;
	padding-top: 20px;
	height: 85px;
	overflow: hidden;
	p {
		line-height: 50px;
	}
	.share-box {
		width: 590px;
		margin: 0 auto;
		line-height: 50px;
		padding: 0;
		height: 85px;
	}
	i {
		float: left;
	}
	.col {
		float: left;
		width: 400px;
		&:first-child {
			width: 190px;
			line-height: 10px;
		}
		.col {
			float: left;
			width: 42px;
			display: inline-block;
		}
	}
	.fa {
		display: inline-block;
		float: left;
		background-color: #fff;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		margin: 10px;
		font-size: 20px;
		box-sizing: border-box;
		line-height: 30px;
		text-align: center;
		cursor: pointer;
	}
	.fa-twitter {
		background-color: $color-twitter;
		color: #fff;
		&:hover {
			background-color: #fff;
			border: 1px solid $color-twitter;
			color: $color-twitter;
		}
	}
	.fa-facebook {
		background-color: $color-facebook;
		color: #fff;
		&:hover {
			color: $color-facebook;
			background-color: #fff;
			border: 1px solid $color-facebook;
		}
	}
	.fa-google-plus {
		background-color: $color-google;
		color: #fff;
		&:hover {
			color: $color-google;
			background-color: #fff;
			border: 1px solid $color-google;
		}
	}
	.fa-linkedin {
		background-color: $color-linkedin;
		color: #fff;
		&:hover {
			color: $color-linkedin;
			background-color: #fff;
			border: 1px solid $color-linkedin;
		}
	}
	.fa-pinterest-p {
		background-color: $color-pinterest;
		color: #fff;
		&:hover {
			color: $color-pinterest;
			background-color: #fff;
			border: 1px solid $color-pinterest;
		}
	}
	.fa-share-alt {
		line-height: 40px;
		font-size: 30px;
		margin: 4px 10px;
		color: $color-main;
	}
}

/* CONTACT */
.contact {
	padding: 40px 0;
	.ct-box {
		width: 550px;
		margin: 0 auto;
		.btn {
			margin-bottom: 30px;
			width: 192px;
			border-radius: 5px;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 35px;
			color: #fff;
			&:hover {
				font-size: 18px;
				transition: 0.3s;
			}
		}
		form {
			margin: 60px 0 40px;
			input {
				border: none;
				border-bottom: 2px solid #ccc;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			#name {
				width: 47%;
				margin-right: 6%;
				float: left;
			}
			#Email {
				width: 47%;
			}
			#subject {
				margin-top: 30px;
			}
			#massage {
				margin-top: 60px;
			}
		}
	}
}